parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
        - '#Parameter .+ of method .+ has invalid typehint type .+Transfer#'
        - '#Call to method .+ on an unknown class .+Transfer#'
        - '#Return typehint of method .+ has invalid type .+Transfer#'
