parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#.+Transfer.+#'
    excludePaths:
        - src/SprykerEco/Client/ComputopApi/Zed/*.php
